.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background-color: $contrast-color;
  color: $secondary-color;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
