.carousel {
  margin: 0 auto;
  &__inner {
    max-width: 750px;
    position: relative;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    img {
      width: 30px;
      height: 50px;
    }
  }
  .slick-next {
    right: -100px;
  }
  .slick-prev {
    left: -100px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    li {
      button {
        color: transparent;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $main-color;
      }
    }
    li.slick-active button {
      background-color: $contrast-color;
    }
  }
}
