.feedback {
  padding-top: 60px;
  &__item {
    display: flex;
    gap: 60px;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  &__img {
    border-radius: 50%;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
  &__subtitle {
    color: $shadow-color;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
}
