.first-screen {
  background: url(../img/first-screen-bg.png) center (center/cover) no-repeat;
  font-weight: 500;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 450px;
    margin: 0 0 0 auto;
  }
  &__title {
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 60px;
    &_span {
      font-size: 24px;
      line-height: 1;
      font-weight: 500;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 68px;
    span {
      display: block;
      max-width: 136px;
      text-align: center;
      font-size: 14px;
      line-height: 1;
    }
    img {
      width: 42px;
      height: 42px;
      display: block;
      margin: 0 auto 20px;
    }
  }
  &__button {
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__link {
    display: block;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
  }
}
