.footer {
  height: 630px;
  position: relative;
  &__map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__frame {
    width: 100%;
  }
  &__content {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    background-color: $contrast-color;
    padding: 50px;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 1;
  }
  &__address {
    a {
      color: $secondary-color;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
    }
  }
  &__tel {
    color: $secondary-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__social {
    width: 215px;
    display: flex;
    justify-content: space-between;
  }
  &__social-link {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 24px;
    }
  }
}
