.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px 0;
  color: $secondary-color;
  &__logo {
    width: 250px;
    img {
      width: 100%;
    }
  }
  &__official {
    font-weight: 500;
    line-height: 1;
    font-size: 12px;
    color: $secondary-color;
  }
  &__company {
    font-size: 18px;
    font-weight: 500;
    color: $secondary-color;
  }
  &__tel {
    display: block;
    font-weight: 700;
    line-height: 1;
    font-size: 18px;
    color: $secondary-color;
    text-align: right;
    text-decoration: none;
    margin-bottom: 15px;
    transition: 0.4s;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      color: $contrast-color;
      text-decoration: none;
    }
  }
}
