.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  &__modal {
    display: none;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: $light-color;
    border-radius: 5px;
  }
  &__title {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  &__close {
    color: $contrast-color;
    font-size: 44px;
    position: absolute;
    top: -30px;
    right: -30px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }
  }
}
